
body {
    background: #3e653c url(../images/header-bg.png) repeat-x;
    font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

header .navbar-inner {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}

header h1 a {
    background: url(../images/header.png) no-repeat;
    height: 145px;
    display: block;
    text-indent: -10000px;
}

header h1 small {
    color: #555;
    margin-left: 210px;
    margin-top: -30px;
    display: block;
    text-shadow: 2px 2px 8px #666;
    font-style: italic;
}

header .navbar .nav > li > a {
    color: #07293A;
    padding: 0;
    margin: 10px 18px 0 0;
    text-shadow: none;
    line-height: 19px;
}

article .container, footer .container{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-top: 20px;

    background: #dccec7;

    border: 5px solid #a58879;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.nav-tabs .active > a {
    background: #a58879;
    color: #eeeeee;
    border-color: #a58879 transparent #a58879 #a58879;
}

/*
a {
    color: #339;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}
*/

/*
nav {
    float: right;
    display: block;
    margin-top: 50px;
    height: 40px;

    margin-right: 10px;

    font-size: 20px;
    text-align: right;
}

nav ul {
    display: inline;
}
nav ul li {
    display: inline;
}

nav form {
    clear: right;
    margin-top: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

.search {
    width: 160px;
    padding-left: 10px;
    border: 2px solid #333;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    font-size: 20px;
}

.error {
    display: block;
    border: 2px solid #f66;
    background: #fdd;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#flash {
    display: block;
    border: 2px solid #693;
    background: #fdd;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: disc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

ul li {
    padding: 0.25em;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
}

input[type=submit] {
    width: auto;
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 8em;
    margin-top: 5px;
}
*/
pre {
    background: #1f1f1f;
    color: white;
    padding: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    border: 5px solid #444;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.tag {
    color: #ffcfaf;
}
/*
.useit div .string {
    color: #cc9393;
}

.add-member input {
    width: 200px;
    margin-right: 10px;
}

.desc {
    color: #444;
    font-size: 90%;
}

.details {
    color: #444;
    font-size: 80%;
}

.search-results, .browse-results {
   list-style-type: none;
   margin-bottom: .4em;
}

.stacktrace {
    font-size: 0.75em;
    overflow-x: scroll;
}

p.hint {
    margin: 0;
    color: #555;
}

.page-nav {
  padding: 0 2em 2em;
  text-align: center;
}

.page-nav * {
  padding: 5px;
  text-align: center;
  font-weight: 900;
}

.page-nav .disabled, .page-nav .current {
  color: #777;
}

.page-description {
  color: #444;
}

.browse-from {
  display: inline;
}

.browse-from label {
  color: #444;
  font-size: 60%;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 5px;
}

.browse-from input#from {
  display: inline;
  width: 200px;
  margin-bottom: 0;
}

.browse-from input#jump {
  display: none;
}

.fork a {
    font-style: italic;
}

.fork-notice {
  font-style: italic;
  font-size: 0.8em;
}

.downloads {
    float: right;
    font-size: 0.6em;
}
*/